body {

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f0f2f5;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {

    background: white;
    padding: 30px;
    border-radius: 12px;

    width: 350px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

    text-align: center;
}

h1 {

    margin-bottom: 20px;
}

button {

    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 8px;

    background: #0078ff;
    color: white;

    font-size: 16px;

    cursor: pointer;
}

button:hover {

    background: #005fcc;
}

.info {

    margin-top: 20px;
    text-align: left;
}

.info p {

    margin: 12px 0;
    font-size: 18px;
}
